<div class="container-fluid">
    <div class="post" (click)="onPostClick()">
        <div class="icon">
            <div class="avatar">
                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg>
            </div>
            <div class="edit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#00fc00" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                </svg>
            </div>
        </div>
        <h2>Update Status</h2>
    </div>
    <hr class="divider">
    <div class="show">
        <div *ngIf="isLoading" class="loading">
            <div class="loader">
            <h1>L
            <div class="spinner"></div>
            ading ...</h1>
          </div>
        </div>
        <div *ngIf="!isLoading && statusList.length === 0">No statuses available.</div>
        <div *ngIf="isError">Failed to load statuses.</div>
        <app-status-sender *ngIf="statusList.length > 0" [statusList]="statusList"></app-status-sender>
    </div>
</div>
