.off-canvas {
  position: fixed;
  top: 0;
  left: -31%; /* Initially hide the off-canvas menu */
  width: 31%;
  height: 100%;
  background-color: rgb(37, 36, 36);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  z-index: 1000; /* Ensure it is above other content */
  overflow-y: scroll;
}

.off-canvas.show {
  left: 5%; /* Show the off-canvas menu with a margin of 5% from the left */
}

.open-list {
  color: green;
  background-color: rgb(15, 15, 16);
  border: none;
}

.off-canvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.off-canvas-body {
  padding: 10px;
  overflow-y: auto;
}

ul {
  list-style-type: none;
}

.close-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(48, 47, 51);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.make{
  border: none;
  background-color: transparent;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
}

.create{
  border-radius: 10px;
  padding-left: 5px;
  cursor: pointer;
  border-bottom: 1px solid #504c4c;
}

.selected, .create:hover{
  background-color: #585858;
}

.select{
  color: green;
}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: green;
}

.cancel{
  border: none;
  background-color: transparent;
  color: white;
}

.tick{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1000;
  border: none;
}


@media(max-width:750px){
  .off-canvas{
    left: -90%;
    width: 90%;
  }
  .off-canvas.show {
    left: 10%; /* Show the off-canvas menu with a margin of 5% from the left */
  }
}