.container-fluid {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Align children vertically */
    box-sizing: border-box; /* Include padding and borders in width calculation */
}



.head {
    height: 10vh;
    border-radius: 10px;
    background-color: #242424;
}

.body{
    height: 80vh;
}


.input {
    height: 10vh;
}

@media (max-width: 750px) {
    .head {
        padding-left: 6.5%; /* Add padding for smaller screens */
        padding-right: 6.5%; /* Maintain symmetry */
    }
}
